registry=https://jfafn.jfrog.io/artifactory/api/npm/cards-npm/
strict-ssl=false
_auth = YXJwaXRhLnBhdGVsQG9tZi5jb206QUtDcDhrcXp5czRodkUzUzNCTUtOTnNwVUR5c3FhemZOQ25qN1paOFBFZnpwWFZQS01UbkdnTHVGWHIyY1BMRkJSd3BpanVYTQ==
always-auth = true
email = "arpita.patel@omf.com"
